# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment & Dependencies
.env
.venv
env/
venv/
ENV/

# Scraper temporary files
queries_temp.txt
raw_results.json

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
